{% extends "bootstrap/base.html" %}
{% block title %}跳跳的小窝{% endblock %}
{% block navbar %}

<div class="navbar navbar-inverse" role="navigation"> 
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle" 
data-toggle="collapse" data-target=".navbar-collapse"> 
<span class="sr-only">Toggle navigation</span> 
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/">跳跳的小窝</a>
</div>
<div class="navbar-collapse collapse"> 
<ul class="nav navbar-nav">
    <li><a href="/">首页</a></li> 
    <li><a href="/feed">吃了啥</a></li> 
    <li><a href="/first">第一次</a></li> 
</ul>
<ul class="nav navbar-nav pull-right">
{% if not session.user_id %}
    <li> <a href="{{ url_for_security('login') }}">登陆</a> </li>
{% else %}
    <li> <a href="{{ url_for_security('logout') }}">退出</a> </li>
{% endif %}
</ul>
</div>
</div>
{% endblock %}

{% block content %}


</div>
{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="flash">{{ message }} </div>
		{% endfor %}
	{% endif %}
{% endwith %}
</div>

<div class="container">
{% block page_content %}{% endblock %}
</div>


{% endblock %}

